.table-search{
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;
}
.table-search-active{
  background: rgba(black, 0.2);
  font-weight: bold;
}
.table-search-filter{
  position: relative;
  cursor: pointer;
}
.table-search-filter:after{
  margin-left: 0.5rem;
  content: "▼";
  opacity: 0.5;
  transition: opacity 0.2s ease;
}
.table-search-filter.table-search-filter-reversed:after{
  content: "▲";
}
.table-search-filter.table-search-filter-active:after{
  opacity: 1;
}
